<a href="https://colab.research.google.com/github/Merina-Aruja/Applied_Mathematics/blob/main/PythonFDP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>**Data structures in Python**
- **Tuple** : Tuples are wrtten with ( ) brackets The order of the element in Tuple is preserved.

>`Characteristics of Tuple`
- The elements of tuple are indexed
- The elements are immutable once the tuple is defined we cannot make any change to any elements
- Tuple can contain different data types : string, float, boolean etc

**Basic Operations**
- extract any one element : First element :[0] Last element :[-1]
- Finding the lenght of tuple :len
- How to concatinate tuple : +
- Repeating the first element : *
- How to find minimum value in tuple : min
- how th find the maximum value : max


- List : List are written with [ ] brackets
- Dictionary : Dictionary are written with { "Key":"Value"}
- Set : Seta are written in { }

In [11]:
my_tuple = ("apple", "banana", True, 1)
print(my_tuple[0])
print(my_tuple[-1])
print(len(my_tuple))
t1 = ("Liya", "Liz", 7,2)
t2 = ("Diya", "ciya", 8, 3)
print(t1 + t2)
t3 = ( 1, 2, 3, 4)
print(t3*3)
t4=(1,2,3,4,5,6,7)
print(min(t3))
print(max(t4))

apple
1
4
('Liya', 'Liz', 7, 2, 'Diya', 'ciya', 8, 3)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
7

** List in Python**
- List are written in [ ] brackets
- elements in the list are comma
`Charactistic of list`
-List are ordered: It means it has index value
- List are mutable, it we can change data elements within the list
- List can contain duplicate value
- List can have different data elements: integer , string, float, boolean

## Basic Operations
- Extracting individual value
- How to modify a list
- How to add or append new data element
-Inserting elements at specified index
- concatinating in the list
- repeating the list

In [27]:
l1=["Deepu","Merina", 1, 2, True, 3.14, ]
print(l1)
print(l1[0])
print(l1[-2])
l2=[1,2,3.145,"Liya", True]
l2[0] =100
print(l2)
l2[3]="liz"
print(l2)
l2.append(2017)
print(l2)
l3=[1,2,3,"Liya", "Liz"]
l3.insert(0,"deepu")
print(l3)
l3.insert(1, "Meri")
print(l3)
l4=[1,2,3,4]
l5=[5,6,7,8]
print(l4+l5)
print(l4*4)

['Deepu', 'Merina', 1, 2, True, 3.14]
Deepu
True
[100, 2, 3.145, 'Liya', True]
[100, 2, 3.145, 'liz', True]
[100, 2, 3.145, 'liz', True, 2017]
['deepu', 1, 2, 3, 'Liya', 'Liz']
['deepu', 'Meri', 1, 2, 3, 'Liya', 'Liz']
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

####*Identifier in python*
it simply means naming of variables
- variable name cannot be  start with underscore
- cant start with numerical value
- cannot start with a special character
# Most important rule
- in coding your code should be readable that is the code should not be complex
-write the appropiate commants in ur coding book
- your code is not duplicate

### Dictonary in python
Dictonary are written in curly barcket{ }
*charatistics of dictonary*
-dictanory are unordered
- mutable
-different data types
- keys must be unique
### Basic operation
- extracting values :d1.values
- how to modify a dictonary
- how to concatenate
- how to add new variable

In [35]:
d1= {"name":"Merina", "age": 40, "city": "Kottayam"}
print(d1.values())
# adding a new element
d1["Merina"]="Deepu"
print(d1)
d2={"name:Meri", "age:40", "city":"Kottayam"}
d3={"name:Meri", "age:40", "city":"Kottayam"}
d2.update(d3)
print(d2)

SyntaxError: invalid syntax (<ipython-input-35-ea87761775ba>, line 6)

### sets in python
- In python sets are also written in curly brackets { }
* Characteristic of sets*
- sets are unordered: it means the elements in the sets are not in specific orders
- mutable
stes do not have duplicate elements

In [41]:
# Basic operation in sets
# how to add/update set
s1={1,2,3,4,5,3.14}
print(s1)
# adding some particular value
s1.add('Meri')
print(s1)
# union of two sets
s2={2,4,6,8,9,4.13}
print(s1.union(s2))
# intersection of two sets
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 3.14}
{1, 2, 3, 4, 5, 3.14, 'Meri'}
{1, 2, 3, 4, 5, 3.14, 4.13, 6, 8, 9, 'Meri'}
{2, 4}